 .navbar {
    height: 50px;
    background:#33691e;
    color: FFFFFF;
   
    }



/* h1 {
    color: FFFFFF;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
} */



/* nav.navbar {
    margin-bottom: 0;
    background-color: #bbbbbb;
  } */
  .AppLogo{
      height: 50px;
      width:175px;
  } 
  #sugeeta{
    color: white;
    
      
  }
  /* a:hover {
    background-color:  #D1C4E9;
  } */